<!-- Skip Link for Accessibility -->
<a href="#main-content" class="skip-link">{{ 'common.skipToContent' | translate }}</a>

<app-header />
<main id="main-content"
      [@routeAnimation]="prepareRoute(outlet)"
      (@routeAnimation.start)="onRouteAnimationStart()"
      (@routeAnimation.done)="onRouteAnimationDone()"
      [@.disabled]="prefersReducedMotion"
      [class.route-transitioning]="isRouteTransitioning">
  <router-outlet #outlet="outlet"></router-outlet>
</main>

<!-- Global Components -->
<app-toast />

<!-- PWA Components -->
<app-pwa-install-prompt />
<app-pwa-update-prompt />
<app-ios-install-prompt />
